# Eclipse Setting
/.metadata
/Servers
.settings
.project
.classpath
RemoteSystemsTempFiles
bin
org.eclipse.jdt.core.prefs

# Maven
target

# Netbeans Ignore
nbproject
build
dist
private

# Maven ignore
target

